.add-product-form {
    max-width: 400px;
    margin: 30px auto;
    padding: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
  }
  h1{
    color:#5C4033;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: #5C4033;
  }
  
  input[type='text'],
  input[type='number'],
  textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }
  
  button {
    background-color:#5C4033;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }