.container{
    display: flex;
    margin-top: 10px;
    gap: 2rem;
    flex-wrap: wrap;

}

.cards{

    display: flex;
    flex-direction: row;
    gap: 4rem;
    flex-wrap: wrap;
    margin-left: 40px;
    margin-top: 30px;



}