.container{
    display: flex;
    margin-top: 10px;
    background-color: #e8d8a6;
}
.cards{

    display: flex;
    flex-direction: row;
    gap: 4rem;
    flex-wrap: wrap;
    margin-left: 170px;
    margin-top: 30px;
    margin-bottom: 50px;
}